.about-us {
    h2 {
        margin-block: 50px 1em;
    }

    h4,
    p {
        margin-block-end: 0.5em;
        padding-inline: 1em;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        animation: fade-in linear;
        animation-timeline: view();
        animation-range-start: contian;
        animation-range-end: 300px;

        padding: .7em;
        background-color: var(--bg1);
        outline: 1px solid var(--bg2);
        border-radius: .2em;

        overflow: hidden;

        box-shadow: inset 10px 10px 10px rgba(33, 79, 26, 0.3),
            15px 20px 10px rgba(0, 0, 0, 0.05),
            15px 20px 20px rgba(0, 0, 0, 0.05),
            inset -10px -10px 15px rgba(255, 255, 255, 0.2);

        margin-block-end: 1em;

        img {
            width: 50%;
            aspect-ratio: 1/1;
        }
    }

    .box-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 1em;

        margin-block-end: 1em;

        .box {
            margin-block-end: 0;
            background-color: var(--bg3);
        }

        .full-size {
            grid-column: 1/-1;
            justify-content: center;
        }

        img {
            width: 50%;
        }
    }
}

@keyframes fade-in {
    from {
        scale: .8;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}


@media (min-width: 800px) {
    .about-us {

        .box {
            flex-direction: row;

            animation: fade-in linear;
            animation-timeline: view();
            animation-range-start: contian;
            animation-range-end: 200px;

            img {
                width: 400px;
            }

            &.last {
                img {
                    width: 200px;
                }
            }
        }

        .box-grid {

            img {
                width: 100px;
            }

        }
    }
}