.bug-details {

    h3,
    h4 {
        margin-block-end: 1em;
    }

    hr {
        margin: 1em 0;
    }

    h5 {
        margin: 1em 0;
        font-size: 1.1em;

        span {
            color: red;
        }

    }

    .bug-info {
        background-color: var(--bg1);
        outline: 1px solid var(--bg2);
        border-radius: .2em;
        padding: 0.5em;

        box-shadow: inset 10px 10px 10px rgba(33, 79, 26, 0.2),
            15px 20px 10px rgba(0, 0, 0, 0.05),
            15px 20px 20px rgba(0, 0, 0, 0.05),
            inset -10px -10px 15px rgba(255, 255, 255, 0.08);

        .bug-labels {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-wrap: wrap;

            &>* {
                white-space: nowrap;
                cursor: auto;
            }
        }

    }

}