.bug-preview {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: 3 span;

    flex-direction: column;
    gap: .6em;


    .title {
        font-weight: bold;
        font-size: 1.1em;
    }

    .bug-labels {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;

        &>* {
            font-size: 0.7em;
            white-space: nowrap;
            cursor: auto;
        }
    }

    .bug-severity {
        span {
            margin-inline-start: .5em;
            font-size: .9em;
        }
    }

}