.app-header {
    padding-block: 1em;
    background-color: var(--bg4);

    &>* {
        align-items: center;
        grid-row: 1;
    }

    .main-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        justify-self: start;
        font-size: 2em;

        .bug-logo {
            width: 30px;
            aspect-ratio: 1/1;
        }

        &:hover {
            .bug-logo {
                filter: saturate(2);
            }
        }
    }
}



.app-header nav {
    display: flex;
    gap: 1em;
    justify-self: center;
}

.app-header nav a {
    border-block-end: 1px solid transparent;
    text-decoration: none;
}

.app-header nav a.active {
    color: var(--color3);
}