.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    padding: 1em;

    background-color: var(--bg7);
    outline: 1px solid var(--bg2);
    border-radius: .2em;

    box-shadow: inset 10px 10px 10px rgba(33, 79, 26, 0.2),
        15px 20px 10px rgba(0, 0, 0, 0.05),
        15px 20px 20px rgba(0, 0, 0, 0.05),
        inset -10px -10px 15px rgba(255, 255, 255, 0.08);

    z-index: 20;
    cursor: auto;

    min-width: 70vw;

    .popup-header {
        min-height: 2em;
        margin-block-end: 1em;

        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

}

@media (min-width: 700px) {
    .popup {
        min-width: 30vw;
    }
}