body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: var(--bg4);
    color: white;
    min-height: 100vh;

    &:has(.open) {
        overflow-y: hidden;
    }
}

button,
.btn {
    position: relative;
    margin: 2px;
    border: 0;
    border-radius: .2em;
    padding: 6px 10px;
    cursor: pointer;
    background-color: var(--bg6);
    color: white;
    outline: 1px solid var(--bg5);
    font-size: 1em;

    transition: 200ms ease-in-out;

    &:hover {
        background-color: var(--bg5);
        color: black;

        .icon {
            filter: invert(0);
        }
    }

    &:has(.icon) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



pre {
    font-family: inherit;
}

input,
textarea {
    margin-block-end: 1em;
    background-color: var(--bg3);
    color: white;
    padding: 0.5em;
    border-radius: 10px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: rgb(213, 213, 213);
    }
}

.icon {
    width: 18px;
    aspect-ratio: 1/1;
    margin: auto;
    filter: invert(1);
    transition: 200ms ease-in-out;
}