@font-face {
    font-family: raidercrusader;
    src: url('../../../typography/Raidercrusader/raidercrusader.ttf');
}

@font-face {
    font-family: Orbitron;
    src: url('../../../typography/Orbitron/Orbitron-Regular.ttf');
}